<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <root>`
        <appender-ref ref="CONSOLE"/>
    </root>

    <springProfile name="conversion-log">
        <springProperty name="STORAGE_PREFIX" source="storage-config.storage-prefix"/>
        <springProperty name="LOGGING_PREFIX" source="storage-config.logging-prefix"/>
        <appender name="CONVERSION_LOGGER" class="ch.qos.logback.classic.sift.SiftingAppender">
            <discriminator class="com.snapchat.launchpad.conversion.utils.UniqueIdDiscriminator" />
            <sift>
                <appender class="ch.qos.logback.core.rolling.RollingFileAppender">
                    <rollingPolicy class="com.snapchat.launchpad.conversion.utils.CloudStorageSizeAndTimeBasedRollingPolicy">
                        <remotePathPrefix>${STORAGE_PREFIX}</remotePathPrefix>
                        <fileNamePattern>
                            ${LOGGING_PREFIX}/%d{yyyy-MM-dd, aux}/${INSTANCE_ID}/%d{HH, aux}-%d{mm}-%d{ss, aux}-%03i.csv
                        </fileNamePattern>
                        <maxFileSize>10MB</maxFileSize>
                        <maxHistory>3</maxHistory>
                    </rollingPolicy>
                    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                        <layout class="com.snapchat.launchpad.conversion.utils.ConversionLogPatternLayout">
                            <pattern>%msg%n</pattern>
                        </layout>
                    </encoder>
                </appender>
            </sift>
        </appender>
        <logger name="com.snapchat.launchpad.conversion.components.ConversionLogger" level="info" additivity="false">
            <appender-ref ref="CONVERSION_LOGGER"/>
        </logger>
    </springProfile>
</configuration>
